body
{
   padding: 0%;
   margin: 0%;
   background-image: url(laptop.jpg); 
   background-position: center;
   background-size: cover;
  
}

.header{
    text-align: center;
}

#title
{
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-weight: 900;

}
#description
{
    color: white;
    font-style: italic;
}

#survey-form
{
    height: auto;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(190,24,93,0.7);
    padding: 2%;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.label{
    display: block;
    margin-bottom: 1%;
    margin-top: 2%;
    font-weight: 600;
}

.form-control{
    width: 100%;
    height: 25px;
    border-radius: 8px;
    
}

#dropdown{
height: 30px;
}

.form-group label 
{ 
    display: block;

}

#comments{

    height: 100px;
    width: 100%;
    border-radius: 12px;
}

#submit{
    width: 100%;
    height: 30px;
    margin-top: 2%;
    border-radius: 6px;
    background-color: #10B981;
    color: white;
    font-weight: 700;

}

.form-group p{
    font-weight: 600;
}

